body{
    background-color:rgb(0, 0, 0);
}

h1{
    color:#00c400
}

@font-face {
    font-family: 'bar';
    src: url('../fonts/Sports\ Bar.otf');
}

@font-face {
    font-family: 'sporter';
    src: url('../fonts/Sporter.ttf');
}

@font-face {
    font-family: 'cali';
    src: url('../fonts/dealerplate\ california.ttf');
}

@media screen and (max-width: 900px){
   .img{
       display: none;
   }
   .ball{
    top: -270px !important;
   }
   .border{
       border: none !important;
       margin: 55% 10% !important;
       width: 120% !important;
   }
   .titulo{
       font-size: 80px !important;
       margin-bottom: 15px !important;
   }
   .cuadro{
       margin: auto !important;
   }
   .subtitulo{
       font-size: 30px !important;
    
   }
   .curArr1{
       display: none;
   }
   .curArr2{
    transform: rotate(100deg) !important;
    left: 35% !important;
    bottom: -7% !important;
   }
   .ex{
    left: 65% !important;
   }
}

.fondo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border{
    width: fit-content;
    height: 260px;
    margin: auto;
    border-radius: 37px;
    border: solid rgb(0, 218, 0);
}

.titulo{
    color: rgb(0, 218, 0);
    font-family: 'sporter';
    font-size: 100px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin: 0px;
}

.ball{
    color:rgb(0, 218, 0);
    position: absolute;
    width: 500px;
    height: 400px;
    top: -240px;
    left: -90px;
}

.curArr1{
    width: 100px;
    height: 35%;
    position: absolute;
    top: 0%;
    right: 40%;
    transform: rotate(270deg);
}
.curArr2{
    position:absolute;
    width: 100px;
    height: 35%;
    transform: rotate(120deg);
    bottom: -3%;
    left: 10%;
}
.ex{
    position: absolute;
    transform: rotate(300deg);
    width: 70px;
    height: 70px;
    bottom: 14%;
    left: 20%;
}

.cuadro{
    width: fit-content;
    border-radius: 37px;
    background: linear-gradient(315deg, #00e900, #00c400);
    box-shadow:  -9px -9px 13px #000000,
                 9px 9px 13px #161616;
     margin: 20px 50px;  
     padding: 5px 5px;      
}
.cuadro h2{
    font-family: 'cali';
}
.subtitulo{
    font-size: 40px;
    margin: 10px 20px;
}
.text{
    margin: 5px 20px 20px 20px;
}

.enter{
    background-color: #00e900;
    font-family: 'cali';
    font-size: 30px;
    padding: 10px;
    margin-top: 25px;
    border: none; 
    border-radius: 20px;
    transition: 200ms;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}
.enter:hover{
    color:rgb(0, 218, 0);
    background-color: black;
    border: solid rgb(0, 218, 0);
}

.img{
    background-image: url('https://i.pinimg.com/564x/63/9c/7b/639c7be5f3ebe958d761cb2c614884dc.jpg');
    background-position-x: center;
    width: 30%;
    height: 100vh;
    border-left: solid thick rgb(0, 218, 0);
}
