@media screen and (max-width: 1100px){
    .Equipos{
        grid-template-columns: auto auto auto !important;
    }
}

@media screen and (max-width: 900px){
    .Equipos{
        grid-template-columns: auto !important;
    }
    .tituloLiga{
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .tituloLiga h1{
        font-size: 35px !important;
    }
    .botonback{
        font-size: 20px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        width: fit-content !important;
    }
    .botonback1{
        font-size: 20px !important;
        margin: 15px auto !important;
        width: fit-content !important;
    }
    .Ligas{
        grid-template-columns: auto !important;
    }
    .liga{
        margin: 20px auto !important;
    }
    .liga img{
        width: 150px !important;
        height: 150px !important;
    }
    .liga h2{
        font-size: 26px !important;
    }
}

.tituloLiga{
    margin-top: 5px;
    border-bottom: solid rgb(0, 218, 0);
    display: grid;
    grid-template-columns: 10% 80%;
}
.tituloLiga h1{
    color: rgb(0, 218, 0);
    font-family: 'sporter';
    font-size: 100px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin: 0px;
}

.botonback{
    background-color: #00e900;
    font-family: 'cali';
    font-size: 30px;
    padding: 10px;
    margin-left: 5%;
    border: none; 
    border-radius: 20px;
    transition: 200ms;
    cursor: pointer;
    width: 150%;
    height: fit-content;
}
.botonback:hover{
    color:rgb(0, 218, 0);
    background-color: black;
    border: solid rgb(0, 218, 0);
}

.Ligas{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.liga{
margin: 30px;
padding: 30px;
width: fit-content;
border:solid thin rgb(0, 218, 0);
}
.liga img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.liga h2{
    color:#00e900;
    font-family: 'cali';
    font-size: 38px;
    text-decoration: none;
}


.Equipos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.equipo{
    margin: 30px 0px;
    padding: 30px;
    width: fit-content;
    border:solid thin rgb(0, 218, 0);
    }
    .equipo img{
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .equipo h2{
        color:#00e900;
        font-family: 'cali';
        font-size: 38px;
        text-decoration: none;
    }

    .error-liga{
        font-family: 'cali';
    }

    .botonback1{
        background-color: #00e900;
        font-family: 'cali';
        font-size: 30px;
        padding: 10px;
        margin-left: 5%;
        border: none; 
        border-radius: 20px;
        transition: 200ms;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
    }
    .botonback1:hover{
        color:rgb(0, 218, 0);
        background-color: black;
        border: solid rgb(0, 218, 0);
    }